[submodule "cellar/swx-dev/orient"]
	path = cellar/swx-dev/orient
	url = https://github.com/sofwerx/orient
[submodule "cellar/swx-gpu/tor-moneropool"]
	path = cellar/swx-gpu/tor-moneropool
	url = https://github.com/sofwerx/tor-moneropool
[submodule "cellar/swx-gpu/synthetic-target-area-of-interest"]
	path = cellar/swx-gpu/synthetic-target-area-of-interest
	url = https://github.com/sofwerx/synthetic-target-area-of-interest
[submodule "local/geo/docker-geoserver"]
	path = local/geo/docker-geoserver
	url = https://github.com/sofwerx/docker-geoserver
[submodule "local/geo/docker-guacamole"]
	path = local/geo/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "cellar/swx-gpu/docker-guacamole"]
	path = cellar/swx-gpu/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/pi-r-squared/docker-guacamole"]
	path = local/pi-r-squared/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "cellar/osgeo/docker-guacamole"]
	path = cellar/osgeo/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "cellar/mobile/docker-openstf"]
	path = cellar/mobile/docker-openstf
	url = https://github.com/sofwerx/docker-openstf
[submodule "local/geo/docker-traefik"]
	path = local/geo/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/mobile/docker-traefik"]
	path = local/mobile/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/mobile/docker-openstf"]
	path = local/mobile/docker-openstf
	url = https://github.com/sofwerx/docker-openstf.git
[submodule "cellar/osgeo/docker-traefik"]
	path = cellar/osgeo/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "cellar/swx-gpu/docker-ethminer"]
	path = cellar/swx-gpu/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "cellar/osgeo/docker-openstf"]
	path = cellar/osgeo/docker-openstf
	url = https://github.com/sofwerx/docker-openstf
[submodule "aws/swx-geotools1/docker-guacamole"]
	path = cellar/swx-geotools1/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole.git
[submodule "aws/swx-geotools1/docker-traefik"]
	path = cellar/swx-geotools1/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "aws/jumpbox-kali/docker-guacamole"]
	path = cellar/jumpbox-kali/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "aws/jumpbox-kali/docker-traefik"]
	path = cellar/jumpbox-kali/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/swx-xmpp/docker-traefik"]
	path = cellar/swx-xmpp/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/marklogic-datahub/docker-traefik"]
	path = cellar/marklogic-datahub/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/marklogic-datahub/docker-guacamole"]
	path = cellar/marklogic-datahub/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "aws/marklogic-datahub/docker-nifi"]
	path = cellar/marklogic-datahub/docker-nifi
	url = https://github.com/sofwerx/docker-nifi
[submodule "aws/marklogic-datahub/docker-marklogic"]
	path = cellar/marklogic-datahub/docker-marklogic
	url = https://github.com/sofwerx/docker-marklogic.git
[submodule "local/ibm-minsky/docker-traefik"]
	path = local/ibm-minsky/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/ibm-minsky/docker-guacamole"]
	path = local/ibm-minsky/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/ibm-minsky/docker-ethminer"]
	path = local/ibm-minsky/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/ibm-minsky/synthetic-target-area-of-interest"]
	path = local/ibm-minsky/synthetic-target-area-of-interest
	url = https://github.com/sofwerx/synthetic-target-area-of-interest
[submodule "aws/huntclub-moodle/docker-traefik"]
	path = cellar/huntclub-moodle/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/swx-geotools1/docker-mage-server"]
	path = cellar/swx-geotools1/docker-mage-server
	url = https://github.com/sofwerx/docker-mage-server
[submodule "aws/swx-geotools1/docker-opensphere"]
	path = cellar/swx-geotools1/docker-opensphere
	url = https://github.com/sofwerx/docker-opensphere
[submodule "aws/swx-geotools1/docker-geoserver"]
	path = cellar/swx-geotools1/docker-geoserver
	url = https://github.com/sofwerx/docker-geoserver.git
[submodule "aws/swx-geotools1/docker-postgis"]
	path = cellar/swx-geotools1/docker-postgis
	url = https://github.com/sofwerx/docker-postgis.git
[submodule "local/orange/fuel-nat/docker-nat"]
	path = local/orange/fuel-nat/docker-nat
	url = https://github.com/sofwerx/docker-geoserver.git
[submodule "cellar/swx-gpu/tor-moneropool/tor-monero"]
	path = cellar/swx-gpu/tor-moneropool/tor-monero
	url = https://github.com/sofwerx/tor-moneropool.git
[submodule "aws/swx-redteam/docker-traefik"]
	path = cellar/swx-redteam/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "aws/swx-blueteam/docker-traefik"]
	path = aws/swx-blueteam/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "aws/swx-geotools1/docker-geonode"]
	path = cellar/swx-geotools1/docker-geonode
	url = https://github.com/sofwerx/geonode.git
[submodule "aws/swx-geotools1/docker-geonetwork"]
	path = cellar/swx-geotools1/docker-geonetwork
	url = https://github.com/sofwerx/core-geonetwork.git
[submodule "aws/swx-blueteam/docker-elastic"]
	path = aws/swx-blueteam/docker-elastic
	url = https://github.com/sofwerx/docker-elastic
[submodule "local/ibm-minsky/iri"]
	path = local/ibm-minsky/iri
	url = https://github.com/sofwerx/iri
[submodule "local/ibm-minsky/nelson.cli"]
	path = local/ibm-minsky/nelson.cli
	url = https://github.com/sofwerx/nelson.cli
[submodule "local/icbgamingpc/iri"]
	path = local/icbgamingpc/iri
	url = https://github.com/sofwerx/iri
[submodule "local/icbgamingpc/nelson.cli"]
	path = local/icbgamingpc/nelson.cli
	url = https://github.com/sofwerx/nelson.cli
[submodule "local/icbgamingpc/isf-jclient"]
	path = local/icbgamingpc/isf-jclient
	url = https://github.com/sofwerx/isf-jclient.git
[submodule "aws/swx-blueteam/isf-jclient"]
	path = aws/swx-blueteam/isf-jclient
	url = https://github.com/sofwerx/isf-jclient
[submodule "local/ibm-minsky/isf-jclient"]
	path = local/ibm-minsky/isf-jclient
	url = https://github.com/sofwerx/isf-jclient
[submodule "aws/swx-blueteam/RecordRTC"]
	path = aws/swx-blueteam/RecordRTC
	url = https://github.com/sofwerx/RecordRTC
[submodule "local/swx-pandora/docker-pandorafms"]
	path = local/swx-pandora/docker-pandorafms
	url = https://github.com/sofwerx/docker-pandorafms.git
[submodule "local/swx-pandora/docker-traefik"]
	path = local/swx-pandora/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/geo/synthetic-target-area-of-interest"]
	path = local/geo/synthetic-target-area-of-interest
	url = https://github.com/sofwerx/synthetic-target-area-of-interest.git
[submodule "local/securedrop-system76/docker-guacamole"]
	path = local/securedrop-system76/docker-guacamole
	url = https://github.com/ianblenke/docker-guacamole.git
[submodule "local/securedrop-system76/docker-traefik"]
	path = local/securedrop-system76/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-range2/docker-elastic"]
	path = local/swx-range2/docker-elastic
	url = https://github.com/sofwerx/docker-elastic.git
[submodule "local/swx-range2/docker-traefik"]
	path = local/swx-range2/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-bluerange0/docker-traefik"]
	path = local/swx-bluerange0/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-bluerange0/docker-elastic"]
	path = local/swx-bluerange0/docker-elastic
	url = https://github.com/sofwerx/docker-elastic
[submodule "local/swx-range2/xmr-stak"]
	path = local/swx-range2/xmr-stak
	url = https://github.com/sofwerx/xmr-stak.git
[submodule "local/swx-bluerange0/docker-ethminer"]
	path = local/swx-bluerange0/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer.git
[submodule "local/swx-bluerange0/xmr-stak"]
	path = local/swx-bluerange0/xmr-stak
	url = https://github.com/sofwerx/xmr-stak.git
[submodule "local/swx-bluerange2/docker-elastic"]
	path = local/swx-bluerange2/docker-elastic
	url = https://github.com/sofwerx/docker-elastic
[submodule "local/swx-bluerange2/docker-ethminer"]
	path = local/swx-bluerange2/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/swx-bluerange2/docker-traefik"]
	path = local/swx-bluerange2/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-bluerange2/xmr-stak"]
	path = local/swx-bluerange2/xmr-stak
	url = https://github.com/sofwerx/xmr-stak
[submodule "local/swx-bluerange2/es-gdelt"]
	path = local/swx-bluerange2/es-gdelt
	url = https://github.com/sofwerx/es-gdelt
[submodule "aws/swx-blueteam/es-gdelt"]
	path = aws/swx-blueteam/es-gdelt
	url = https://github.com/sofwerx/es-gdelt
[submodule "aws/swx-blueteam/xmr-stak"]
	path = aws/swx-blueteam/xmr-stak
	url = https://github.com/sofwerx/xmr-stak
[submodule "local/swx-bluerange0/es-gdelt"]
	path = local/swx-bluerange0/es-gdelt
	url = http://github.com/sofwerx/es-gdelt
[submodule "local/swx-range2/es-gdelt"]
	path = local/swx-range2/es-gdelt
	url = http://github.com/sofwerx/es-gdelt
[submodule "local/swx-range2/docker-ethminer"]
	path = local/swx-range2/docker-ethminer
	url = http://github.com/sofwerx/docker-ethminer
[submodule "local/swx-pandora/docker-tak"]
	path = local/swx-pandora/docker-tak
	url = https://github.com/sofwerx/docker-tak
[submodule "local/swx-redrange1/docker-ethminer"]
	path = local/swx-redrange1/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/swx-redrange1/docker-traefik"]
	path = local/swx-redrange1/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-redrange1/es-gdelt"]
	path = local/swx-redrange1/es-gdelt
	url = https://github.com/sofwerx/es-gdelt
[submodule "local/swx-redrange1/docker-elastic"]
	path = local/swx-redrange1/docker-elastic
	url = https://github.com/sofwerx/docker-elastic
[submodule "local/swx-redrange1/xmr-stak"]
	path = local/swx-redrange1/xmr-stak
	url = https://github.com/sofwerx/xmr-stak
[submodule "local/swx-bluerange0/es-tshark"]
	path = local/swx-bluerange0/es-tshark
	url = https://github.com/sofwerx/es-tshark
[submodule "local/swx-bluerange0/docker-spot"]
	path = local/swx-bluerange0/docker-spot
	url = https://github.com/sofwerx/docker-spot
[submodule "local/icbgamingpc/docker-tor-ssh"]
	path = local/icbgamingpc/docker-tor-ssh
	url = https://github.com/sofwerx/docker-tor-ssh
[submodule "local/swx-range0/docker-traefik"]
	path = local/swx-range0/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-range0/docker-gpsd"]
	path = local/swx-range0/docker-gpsd
	url = https://github.com/sofwerx/docker-gpsd
[submodule "local/swx-range0/es-gammarf"]
	path = local/swx-range0/es-gammarf
	url = https://github.com/sofwerx/es-gammarf
[submodule "local/swx-range1/docker-gpsd"]
	path = local/swx-range1/docker-gpsd
	url = https://github.com/sofwerx/docker-gpsd
[submodule "local/swx-range1/docker-traefik"]
	path = local/swx-range1/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-range1/es-gammarf"]
	path = local/swx-range1/es-gammarf
	url = https://github.com/sofwerx/es-gammarf
[submodule "local/swx-bluerange1/xmr-stak"]
	path = local/swx-bluerange1/xmr-stak
	url = https://github.com/sofwerx/xmr-stak/
[submodule "local/swx-bluerange1/docker-ethminer"]
	path = local/swx-bluerange1/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/swx-range3/xmr-stak"]
	path = local/swx-range3/xmr-stak
	url = https://github.com/sofwerx/xmr-stak
[submodule "local/swx-vmhost/docker-traefik"]
	path = local/swx-vmhost/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/icbgamingpc/docker-ravencoin"]
	path = local/icbgamingpc/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-rangecontrol0/docker-elastic"]
	path = local/swx-rangecontrol0/docker-elastic
	url = https://github.com/sofwerx/docker-elastic
[submodule "local/swx-rangecontrol0/docker-traefik"]
	path = local/swx-rangecontrol0/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-rangecontrol0/xmr-stak"]
	path = local/swx-rangecontrol0/xmr-stak
	url = https://github.com/sofwerx/xmr-stak
[submodule "local/swx-rangecontrol0/docker-ethminer"]
	path = local/swx-rangecontrol0/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/swx-rangecontrol0/docker-ravencoin"]
	path = local/swx-rangecontrol0/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-bluerange0/docker-ravencoin"]
	path = local/swx-bluerange0/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-bluerange1/docker-ravencoin"]
	path = local/swx-bluerange1/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-redrange1/docker-ravencoin"]
	path = local/swx-redrange1/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-bluerange2/docker-ravencoin"]
	path = local/swx-bluerange2/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-redrange0/docker-ravencoin"]
	path = local/swx-redrange0/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-pandora/docker-ravencoin"]
	path = local/swx-pandora/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-redrange2/docker-ravencoin"]
	path = local/swx-redrange2/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "local/swx-brangepandora/docker-traefik"]
	path = local/swx-brangepandora/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-brangepandora/docker-pandorafms"]
	path = local/swx-brangepandora/docker-pandorafms
	url = https://github.com/sofwerx/docker-pandorafms.git
[submodule "local/ibm-minsky/docker-ravencoin"]
	path = local/ibm-minsky/docker-ravencoin
	url = https://github.com/sofwerx/docker-ravencoin
[submodule "aws/swx-blueteam/es-sync"]
	path = aws/swx-blueteam/es-sync
	url = https://github.com/sofwerx/es-sync
[submodule "local/swx-bluerange1/docker-domoticz"]
	path = local/swx-bluerange1/docker-domoticz
	url = https://github.com/sofwerx/docker-domoticz
[submodule "local/swx-bluerange1/docker-traefik"]
	path = local/swx-bluerange1/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/ibm-minsky/docker-xmr-miner"]
	path = local/ibm-minsky/docker-xmr-miner
	url = https://github.com/sofwerx/docker-xmr-miner
[submodule "local/swx-tak/docker-tak"]
	path = local/swx-tak/docker-tak
	url = https://github.com/sofwerx/docker-tak
[submodule "aws/swx-blueteam/docker-bimserver"]
	path = aws/swx-blueteam/docker-bimserver
	url = https://github.com/sofwerx/docker-bimserver
[submodule "local/swx-range3/docker-gpsd"]
	path = local/swx-range3/docker-gpsd
	url = https://github.com/sofwerx/docker-gpsd
[submodule "local/swx-range3/docker-traefik"]
	path = local/swx-range3/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-range3/es-gammarf"]
	path = local/swx-range3/es-gammarf
	url = https://github.com/sofwerx/es-gammarf
[submodule "local/swx-tegra0/docker-ethminer"]
	path = local/swx-tegra0/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/swx-bluerange1/es-domoticz-notify"]
	path = local/swx-bluerange1/es-domoticz-notify
	url = https://github.com/sofwerx/es-domoticz-notify
[submodule "local/swx-bluerange1/es-ifttt"]
	path = local/swx-bluerange1/es-ifttt
	url = https://github.com/sofwerx/es-ifttt
[submodule "local/swx-bluerange1/docker-motion"]
	path = local/swx-bluerange1/docker-motion
	url = https://github.com/sofwerx/docker-motion
[submodule "aws/swx-blueteam/es-tshark"]
	path = aws/swx-blueteam/es-tshark
	url = https://github.com/sofwerx/es-tshark
[submodule "aws/swx-geotools1/docker-cesium"]
	path = cellar/swx-geotools1/docker-cesium
	url = https://github.com/sofwerx/docker-cesium
[submodule "local/swx-supermicro0/docker-traefik"]
	path = local/swx-supermicro0/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-bluerange1/terraform/alexa_domo"]
	path = local/swx-bluerange1/terraform/alexa_domo
	url = https://github.com/madgeni/alexa_domo
[submodule "local/swx-orange/docker-traefik"]
	path = local/swx-orange/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/swx-bluerange0/es-json"]
	path = local/swx-bluerange0/es-json
	url = https://github.com/sofwerx/es-json
[submodule "aws/swx-geotools1/teamengine-docker"]
	path = cellar/swx-geotools1/teamengine-docker
	url = https://github.com/sofwerx/teamengine-docker.git
[submodule "aws/swx-geotools1/teamengine"]
	path = aws/swx-geotools1/teamengine
	url = https://github.com/opengeospatial/teamengine.git
[submodule "aws/swx-geotools1/DjangoGeoPackageServer"]
	path = cellar/swx-geotools1/DjangoGeoPackageServer
	url = https://github.com/sofwerx/DjangoGeoPackageServer
[submodule "local/swx-bluerange1/es-json"]
	path = local/swx-bluerange1/es-json
	url = https://github.com/sofwerx/es-json
[submodule "aws/swx-blueteam/safehouse"]
	path = aws/swx-blueteam/safehouse
	url = https://github.com/sofwerx/safehouse
[submodule "local/icbgamingpc/docker-pigeoncoin"]
	path = local/icbgamingpc/docker-pigeoncoin
	url = https://github.com/sofwerx/docker-pigeoncoin
[submodule "local/swx-demobox/docker-traefik"]
	path = local/swx-demobox/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-demobox/docker-openstf"]
	path = local/swx-demobox/docker-openstf
	url = https://github.com/sofwerx/docker-openstf.git
[submodule "aws/swx-blueteam/docker-dtube"]
	path = aws/swx-blueteam/docker-dtube
	url = https://github.com/sofwerx/docker-dtube
[submodule "local/ibm-minsky/docker-dtube"]
	path = local/ibm-minsky/docker-dtube
	url = https://github.com/sofwerx/docker-dtube/
[submodule "aws/swx-geotools1/milsymbol-server"]
	path = aws/swx-geotools1/milsymbol-server
	url = https://github.com/sofwerx/milsymbol-server.git
[submodule "aws/swx-geotools1/swx-glo"]
	path = cellar/swx-geotools1/swx-glo
	url = https://github.com/sofwerx/glo.git
[submodule "local/swx-datascience/kubespray"]
	path = local/swx-datascience/kubespray
	url = https://github.com/sofwerx/kubespray
[submodule "local/icbgamingpc/docker-makemkv"]
	path = local/icbgamingpc/docker-makemkv
	url = https://github.com/ianblenke/docker-makemkv
[submodule "local/swx-datascience/docker-traefik"]
	path = local/swx-datascience/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-datascience/docker-motion"]
	path = local/swx-datascience/docker-motion
	url = https://github.com/sofwerx/docker-motion
[submodule "local/swx-orange/docker-elastic"]
	path = local/swx-orange/docker-elastic
	url = https://github.com/sofwerx/docker-elastic
[submodule "local/swx-vmhost/glo"]
	path = local/swx-vmhost/glo
	url = https://github.com/sofwerx/glo.git
	branch = Globe
[submodule "local/swx-vmhost/glo-services"]
	path = local/swx-vmhost/glo-services
	url = https://github.com/sofwerx/glo-services.git
[submodule "aws/swx-geotools1/glo-demo"]
	path = cellar/swx-geotools1/glo-demo
	url = https://github.com/sofwerx/glo-demo.git
[submodule "local/swx-orange/es-json"]
	path = local/swx-orange/es-json
	url = https://github.com/sofwerx/es-json
[submodule "local/swx-vmhost/glo-demo"]
	path = local/swx-vmhost/glo-demo
	url = https://github.com/sofwerx/glo-demo.git
[submodule "local/swx-vmhost/docker-cesium"]
	path = local/swx-vmhost/docker-cesium
	url = https://github.com/sofwerx/docker-cesium.git
[submodule "local/swx-supermicro3/docker-traefik"]
	path = local/swx-supermicro3/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-supermicro3/docker-motion"]
	path = local/swx-supermicro3/docker-motion
	url = https://github.com/sofwerx/docker-motion
[submodule "local/swx-orange/es-gdelt"]
	path = local/swx-orange/es-gdelt
	url = https://github.com/sofwerx/es-gdelt
[submodule "aws/tor-vpin"]
	path = aws/tor-vpin
	url = https://github.com/sofwerx/tor-vpin
[submodule "local/swx-vmhost/kanboard"]
	path = local/swx-vmhost/kanboard
	url = https://github.com/kanboard/kanboard.git
[submodule "local/swx-vmhost/underground"]
	path = local/swx-vmhost/underground
	url = https://github.com/sofwerx/underground
