[submodule "aws/swx-dev/orient"]
	path = aws/swx-dev/orient
	url = https://github.com/sofwerx/orient
[submodule "local/swx-gpu/orient"]
	path = local/swx-gpu/orient
	url = https://github.com/sofwerx/orient
[submodule "local/swx-gpu/tor-moneropool"]
	path = local/swx-gpu/tor-moneropool
	url = git@github.com:sofwerx/tor-moneropool.git
