[submodule "aws/swx-dev/orient"]
	path = aws/swx-dev/orient
	url = https://github.com/sofwerx/orient
[submodule "local/swx-gpu/tor-moneropool"]
	path = local/swx-gpu/tor-moneropool
	url = https://github.com/sofwerx/tor-moneropool
[submodule "local/swx-gpu/synthetic-target-area-of-interest"]
	path = local/swx-gpu/synthetic-target-area-of-interest
	url = https://github.com/sofwerx/synthetic-target-area-of-interest
[submodule "local/geo/synthetic-target-area-of-interest"]
	path = local/geo/synthetic-target-area-of-interest
	url = https://github.com/sofwerx/synthetic-target-area-of-interest
[submodule "local/geo/docker-geoserver"]
	path = local/geo/docker-geoserver
	url = https://github.com/sofwerx/docker-geoserver
[submodule "local/geo/docker-guacamole"]
	path = local/geo/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/swx-gpu/docker-guacamole"]
	path = local/swx-gpu/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/pi-r-squared/docker-guacamole"]
	path = local/pi-r-squared/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/osgeo/docker-guacamole"]
	path = local/osgeo/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/mobile/docker-openstf"]
	path = local/mobile/docker-openstf
	url = https://github.com/sofwerx/docker-openstf
[submodule "local/geo/docker-traefik"]
	path = local/geo/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/mobile/docker-traefik"]
	path = local/mobile/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/osgeo/docker-traefik"]
	path = local/osgeo/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "local/swx-gpu/docker-ethminer"]
	path = local/swx-gpu/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/osgeo/docker-openstf"]
	path = local/osgeo/docker-openstf
	url = https://github.com/sofwerx/docker-openstf
[submodule "aws/swx-geotools1/docker-guacamole"]
	path = aws/swx-geotools1/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole.git
[submodule "aws/swx-geotools1/docker-traefik"]
	path = aws/swx-geotools1/docker-traefik
	url = https://github.com/sofwerx/docker-traefik.git
[submodule "aws/jumpbox-kali/docker-guacamole"]
	path = aws/jumpbox-kali/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "aws/jumpbox-kali/docker-traefik"]
	path = aws/jumpbox-kali/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/swx-xmpp/docker-traefik"]
	path = aws/swx-xmpp/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/marklogic-datahub/docker-traefik"]
	path = aws/marklogic-datahub/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/marklogic-datahub/docker-guacamole"]
	path = aws/marklogic-datahub/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "aws/marklogic-datahub/docker-nifi"]
	path = aws/marklogic-datahub/docker-nifi
	url = https://github.com/sofwerx/docker-nifi
[submodule "aws/marklogic-datahub/docker-marklogic"]
	path = aws/marklogic-datahub/docker-marklogic
	url = https://github.com/sofwerx/docker-marklogic.git
[submodule "local/ibm-minsky/docker-traefik"]
	path = local/ibm-minsky/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "local/ibm-minsky/docker-guacamole"]
	path = local/ibm-minsky/docker-guacamole
	url = https://github.com/sofwerx/docker-guacamole
[submodule "local/ibm-minsky/docker-ethminer"]
	path = local/ibm-minsky/docker-ethminer
	url = https://github.com/sofwerx/docker-ethminer
[submodule "local/ibm-minsky/synthetic-target-area-of-interest"]
	path = local/ibm-minsky/synthetic-target-area-of-interest
	url = https://github.com/sofwerx/synthetic-target-area-of-interest
[submodule "aws/huntclub-moodle/docker-traefik"]
	path = aws/huntclub-moodle/docker-traefik
	url = https://github.com/sofwerx/docker-traefik
[submodule "aws/swx-geotools1/docker-mage-server"]
	path = aws/swx-geotools1/docker-mage-server
	url = https://github.com/sofwerx/docker-mage-server
[submodule "aws/swx-geotools1/docker-opensphere"]
	path = aws/swx-geotools1/docker-opensphere
	url = https://github.com/sofwerx/docker-opensphere
[submodule "aws/swx-geotools1/docker-geoserver"]
	path = aws/swx-geotools1/docker-geoserver
	url = https://github.com/sofwerx/docker-geoserver.git
[submodule "aws/swx-geotools1/docker-postgis"]
	path = aws/swx-geotools1/docker-postgis
	url = https://github.com/sofwerx/docker-postgis.git
[submodule "local/orange/fuel-nat/docker-nat"]
	path = local/orange/fuel-nat/docker-nat
	url = https://github.com/sofwerx/docker-geoserver.git
[submodule "local/swx-gpu/tor-moneropool/tor-monero"]
	path = local/swx-gpu/tor-moneropool/tor-monero
	url = https://github.com/sofwerx/tor-moneropool.git
[submodule "aws/swx-geotools1/docker-geonode"]
	path = aws/swx-geotools1/docker-geonode
	url = https://github.com/sofwerx/geonode.git
[submodule "aws/swx-geotools1/docker-geonetwork"]
	path = aws/swx-geotools1/docker-geonetwork
	url = https://github.com/sofwerx/core-geonetwork.git
